{% extends 'app/base.html' %}

{% block title %}Departments{% endblock title %}

{% block content %}

<h2 class="cover-heading">Here is a list of our departments</h2>
<div class="table-responsive">
    <table class="table table-sm">
        <caption>List of Departments</caption>
        <thead>
        <tr>
            <th scope="col">Department ID#</th>
            <th scope="col">Name</th>
            <th scope="col">Employees</th>
        </tr>
        </thead>
        <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.id }}</td>
            <td><a href="{% url 'app:department' pk=department.id %}">{{ department.name }}</a></td>
            <td>{{ department.employees.count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}