{% extends 'app/base.html' %}

{% block title %}Employees{% endblock title %}

{% block content %}

<h2 class="cover-heading">Here is a list of our employees</h2>
<div class="table-responsive">
    <table class="table table-sm">
        <caption>List of employees</caption>
        <thead>
        <tr>
            <th scope="col">Employee ID#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Department</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td><a href="{% url 'app:employee' pk=employee.id %}">{{ employee.name }}</a></td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.department }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}