{% extends 'basic_app/base.html' %}

{% block title %} School Detail {% endblock title %}

{% block content %}

<h1>{{ school_detail.name }} Details</h1>
<p>Principal: {{ school_detail.principal }}</p>
<p>Location: {{ school_detail.location }}</p>

<h3>Students</h3>
{% for student in school_detail.students.all %}
    <p>{{ student.name }} - {{ student.age }} years old</p>
{% endfor %}

<br>
<p><a class="btn btn-link" href="{% url 'basic_app:school_update' pk=school_detail.pk  %}">Edit</a></p>

{% endblock content %}