{% extends 'blog/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="jumbotron">
    <h2>Please Login</h2>
    <h4><em>* Must be a super user to login. Check with the site admin</em></h4>

    {% if form.errors %}
    <p>Your username or password is invalid</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

</div>

{% endblock content %}